*{
    margin: 0%;
    padding: 0%;
}
.nv{
    background-image: url(back.avif);
    width: 100%;
    height: 400px;
}
.nv nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
   
}
.nv nav .right{
    display: flex;
}
nav p{
    margin-inline: 11px;
    margin-top: 22px;
}
.nv .logo{
    text-align: center;

}
.nv .logo img{
    width: 42%;
    margin-top: 66px;
}
.nv .inp{
     text-align: center;
}
.nv .text{
    text-align: center;
    color: white;
    margin-top: 22px;
    font-size: 20px;
}
.nv .inp input{
    width: 600px;
    height: 10px;
    padding: 22px;
    font-size: 19px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 22px;
    font-family: 'mukta',sans-serif;
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}
.card .crd img{
    width: 320px;
    height: 220px;
    border-radius: 6px;
    margin-top: 55px;
}

.coll .text{
    margin-left: 34px;
    margin-top: 6-4px;
    padding: 33px;
}
.coll .rest{
       display: flex;
       justify-content: center;
       justify-content: space-around;
       
}
.rest img{
    width: 24%;
    border-radius: 7px;
}

.app{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(249, 229, 233);
    margin-top: 66px;
}
.app img{
    width: 37%;
    
}
.btn h1{
   margin-left: 44px;
   margin-top: 44px;
   padding: 33px;

}
.btn button{
    width: 900px;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 250px;
    font-size: 22px;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(235, 231, 231);
    margin-top: 44px;
    padding-top: 44px;
    
}
#p:hover{
    border: 2px solid black;
    cursor: pointer;
}
#img:hover{
    /* border: 2px solid transparent; */
       
    
}